# 忽略编译生成的文件
*.class
*.war
*.jar

# 忽略操作系统生成的文件和文件夹
.DS_Store
Thumbs.db

# 忽略IDE和编辑器生成的配置文件
.idea/
.vscode/

# 忽略日志文件
*.log

# 忽略临时文件和缓存
tmp/
.cache/

# 忽略敏感信息配置文件（例如API密钥）
config.ini

# 忽略构建输出目录
/target/
/out/

# 忽略本地配置文件
*.env

# 忽略包管理器配置和缓存
node_modules/
package-lock.json
yarn.lock